#show_sketch {
    background-color: #551EA1;
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Nerko One', cursive;
}

span {
    width: 100%;
}

#score {
    font-family: 'Crimson Text', serif;
    font-size: 25px;
    margin-right: 1300px;

}

#timer {
    font-family: 'Crimson Text', serif;
    font-size: 25px;
}

p {
    font-family: 'Crimson Text', serif;
    font-size: 25px;
}

canvas {
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    margin-top: 160px;
    animation-name: myCanvas;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes myCanvas {
    from {
        box-shadow: 10px 10px 50px 2px palevioletred;
    }

    to {
        box-shadow: 10px 10px 50px 2px darkslateblue;
    }
}

#cc {
    color: black;
    font-size: 15px;
    font-weight: bold;
    border-width: 2px;
    border-style: inset;
    border-color: black;
    animation-name: cc;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#cc:hover {
    background-color: black;
    color: white;
    border-width: 2px;
    border-style: ridge;
    border-color: white;
    animation-name: stopcc;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

@keyframes cc {
    0% {
        background-color: rgb(53, 45, 104);

    }

    14.2857% {
        background-color: rgb(4, 4, 233);

    }

    28.5714% {
        background-color: lightskyblue;
    }

    42.8751% {
        background-color: rgb(141, 212, 33);
    }

    57.1428% {
        background-color: lightgreen;
    }

    71.4285% {
        background-color: yellow;
    }

    85.7142% {
        background-color: orangered;
    }

    100% {
        background-color: red;

    }
}

@keyframes stopcc {
    from {
        background-color: darkgrey;
    }

    to {
        background-color: black;
    }
}